# POST TEST 2 PRAKTIKUM KB

# The Android App Market on Google Play Datasets

# Import Library Pandas Package

Mengimpor library pandas sebagai pd dan dataframe sebagai df untuk membaca dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("appsgoogleplay.csv")

# Membaca Dataset

Dataset berupa file .csv (appsgoogleplay.csv)

In [3]:
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Last Updated
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,"10,000+",Free,0.0,"January 7, 2018"
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,"500,000+",Free,0.0,"January 15, 2018"
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0.0,"August 1, 2018"
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,"50,000,000+",Free,0.0,"June 8, 2018"
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,"100,000+",Free,0.0,"June 20, 2018"
...,...,...,...,...,...,...,...,...,...
9654,Sya9a Maroc - FR,FAMILY,4.5,38,53.0,"5,000+",Free,0.0,"July 25, 2017"
9655,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6,100+,Free,0.0,"July 6, 2018"
9656,Parkinson Exercices FR,MEDICAL,NaN,3,9.5,"1,000+",Free,0.0,"January 20, 2017"
9657,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,NaN,"1,000+",Free,0.0,"January 19, 2015"
9658,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19.0,"10,000,000+",Free,0.0,"July 25, 2018"

In [4]:
df.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Last Updated
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,"10,000+",Free,0.0,"January 7, 2018"
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,"500,000+",Free,0.0,"January 15, 2018"
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0.0,"August 1, 2018"
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,"50,000,000+",Free,0.0,"June 8, 2018"
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,"100,000+",Free,0.0,"June 20, 2018"

In [5]:
df.tail(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Last Updated
9654,Sya9a Maroc - FR,FAMILY,4.5,38,53.0,"5,000+",Free,0.0,"July 25, 2017"
9655,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6,100+,Free,0.0,"July 6, 2018"
9656,Parkinson Exercices FR,MEDICAL,NaN,3,9.5,"1,000+",Free,0.0,"January 20, 2017"
9657,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,NaN,"1,000+",Free,0.0,"January 19, 2015"
9658,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19.0,"10,000,000+",Free,0.0,"July 25, 2018"

# Informasi Dataset

Informasi yang didapatkan adalah 
jumlah record, 
nama attribute, 
jumlah attribute dengan tipe objek, 
jumlah attribute dengan tipe angka, 
jumlah attribute yang memiliki nilai null.

In [6]:
df.dtypes

App              object
Category         object
Rating          float64
Reviews           int64
Size            float64
Installs         object
Type             object
Price           float64
Last Updated     object
dtype: object

Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

In [7]:
totalRecord = len(df)
attribute = list(df.columns)
objek = len(df.select_dtypes(include=["object"]).columns)
angka = len(df.select_dtypes(include=["int64", "float64"]).columns)
NULL = len(df.columns[df.isna().sum() > 0])

dict = {
    "Jumlah Record:"           : totalRecord,
    "Nama Attribute:"          : attribute,
    "Jumlah Attribute Objek:"  : objek,
    "Jumlah Attribute Angka:"  : angka,
    "Jumlah NULL:"             : NULL,
}

pd.Series(dict)

Jumlah Record:                                                          9659
Nama Attribute:            [App, Category, Rating, Reviews, Size, Install...
Jumlah Attribute Objek:                                                    5
Jumlah Attribute Angka:                                                    4
Jumlah NULL:                                                               2
dtype: object

# Menampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka

Menampilkan rata-rata dengan fungsi mean()

In [8]:
df.select_dtypes(include=["int64", "float64"]).mean()

Rating          4.173243
Reviews    216592.563826
Size           20.395327
Price           1.099299
dtype: float64

Menampilkan standar deviasi dengan fungsi std()

In [9]:
df.select_dtypes(include=["int64", "float64"]).std()

Rating     5.366247e-01
Reviews    1.831320e+06
Size       2.182751e+01
Price      1.685215e+01
dtype: float64

Menampilkan nilai minimum dengan fungsi min()

In [10]:
df.select_dtypes(include=["int64", "float64"]).min()

Rating     1.0
Reviews    0.0
Size       0.0
Price      0.0
dtype: float64

Menampilkan nilai maksimum dengan fungsi max()

In [11]:
df.select_dtypes(include=["int64", "float64"]).max()

Rating            5.0
Reviews    78158306.0
Size            100.0
Price           400.0
dtype: float64

Menampilkan nilai Q1, Q2, Q3 dengan fungsi quantile()

In [12]:
df.select_dtypes(include=["int64", "float64"]).quantile([0.25, 0.5, 0.75])

      Rating  Reviews  Size  Price
0.25     4.0     25.0   4.6    0.0
0.50     4.3    967.0  12.0    0.0
0.75     4.5  29401.0  28.0    0.0

Menampilkan semua sekaligus dengan fungsi describe()

In [14]:
df.describe()

            Rating       Reviews         Size        Price
count  8196.000000  9.659000e+03  8432.000000  9659.000000
mean      4.173243  2.165926e+05    20.395327     1.099299
std       0.536625  1.831320e+06    21.827509    16.852152
min       1.000000  0.000000e+00     0.000000     0.000000
25%       4.000000  2.500000e+01     4.600000     0.000000
50%       4.300000  9.670000e+02    12.000000     0.000000
75%       4.500000  2.940100e+04    28.000000     0.000000
max       5.000000  7.815831e+07   100.000000   400.000000

# Menampilkan nilai korelasi attribute bertipe angka

Menampilkan nilai korelasi dengan fungsi corr()

In [16]:
df.select_dtypes(include=["int64", "float64"]).corr()

           Rating   Reviews      Size     Price
Rating   1.000000  0.055081  0.063076 -0.021199
Reviews  0.055081  1.000000  0.179321 -0.007598
Size     0.063076  0.179321  1.000000 -0.022434
Price   -0.021199 -0.007598 -0.022434  1.000000

# Mengubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka di belakang koma

Nilai atributte yang akan diubah adalah Reviews yang sebelumnya merupakan bilangan Bulat berubah menjadi bilangan Desimal dengan fungsi astype()

In [17]:
print("Sebelum: ", df["Reviews"].dtypes)

df["Reviews"] = df["Reviews"].astype("float64")

print("Setelah: ", df["Reviews"].dtypes)

Sebelum:  int64
Setelah:  float64

In [18]:
df.dtypes

App              object
Category         object
Rating          float64
Reviews         float64
Size            float64
Installs         object
Type             object
Price           float64
Last Updated     object
dtype: object

# Menampilkan 10 record pertama dari attribute bertipe angka

Data yang ditampilkan adalah 10 record pertama dengan fungsi head(10) dari attribute yang bertipe angka dengan float64 karena semua record angka sekarang merupakan bilangan desimal

In [19]:
df.select_dtypes(include=["float64"]).head(10)

   Rating   Reviews  Size  Price
0     4.1     159.0  19.0    0.0
1     3.9     967.0  14.0    0.0
2     4.7   87510.0   8.7    0.0
3     4.5  215644.0  25.0    0.0
4     4.3     967.0   2.8    0.0
5     4.4     167.0   5.6    0.0
6     3.8     178.0  19.0    0.0
7     4.1   36815.0  29.0    0.0
8     4.4   13791.0  33.0    0.0
9     4.7     121.0   3.1    0.0

# Simpan dataset dengan attribute bertipe angka ke dalam file CSV

Record yang disimpan ke file csv yang baru merupakan attribute bertipe angka

In [21]:
df.select_dtypes(include=["float64"]).to_csv("AtributAngka_appsgoogleplay.csv", index=False)

In [22]:
df = pd.read_csv("AtributAngka_appsgoogleplay.csv")

In [23]:
df

      Rating   Reviews  Size  Price
0        4.1     159.0  19.0    0.0
1        3.9     967.0  14.0    0.0
2        4.7   87510.0   8.7    0.0
3        4.5  215644.0  25.0    0.0
4        4.3     967.0   2.8    0.0
...      ...       ...   ...    ...
9654     4.5      38.0  53.0    0.0
9655     5.0       4.0   3.6    0.0
9656     NaN       3.0   9.5    0.0
9657     4.5     114.0   NaN    0.0
9658     4.5  398307.0  19.0    0.0

[9659 rows x 4 columns]