# POST TEST 4 PRAKTIKUM KB

Nama: Muhammad Reyhan Setiawan

NIM: 2009106052

# The Android App Market on Google Play Data Preprocessing

# Import Library Package

Mengimpor library numpy sebagai np, pandas sebagai pd, dan berbagai sklearn untuk data preprocessing. Dan data sebagai df untuk membaca dataset

In [62]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

# Membaca Dataset

Dataset berupa file .csv (appsgoogleplay.csv)

In [63]:
df = pd.read_csv("appsgoogleplay.csv")

In [64]:
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Last Updated
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,"10,000+",Free,0.0,"January 7, 2018"
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,"500,000+",Free,0.0,"January 15, 2018"
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0.0,"August 1, 2018"
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,"50,000,000+",Free,0.0,"June 8, 2018"
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,"100,000+",Free,0.0,"June 20, 2018"
...,...,...,...,...,...,...,...,...,...
9654,Sya9a Maroc - FR,FAMILY,4.5,38,53.0,"5,000+",Free,0.0,"July 25, 2017"
9655,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6,100+,Free,0.0,"July 6, 2018"
9656,Parkinson Exercices FR,MEDICAL,NaN,3,9.5,"1,000+",Free,0.0,"January 20, 2017"
9657,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,NaN,"1,000+",Free,0.0,"January 19, 2015"
9658,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19.0,"10,000,000+",Free,0.0,"July 25, 2018"

# Data Split

#Subset Target dan Feature

In [65]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

Membagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [66]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

Melihat dimensi setelah displit

In [67]:
print("Dimensi x_train :", x_train.shape)
print("Dimensi x_test :", x_test.shape)
print("Dimensi y_train :", y_train.shape)
print("Dimensi y_test :", y_test.shape)

Dimensi x_train : (6761, 8)
Dimensi x_test : (2898, 8)
Dimensi y_train : (6761,)
Dimensi y_test : (2898,)

# Data Transforming

Menormalisasi data pada attribute menggunakan Min Max Scaler

In [68]:
min_max_scaler = MinMaxScaler()

Mencopy data df menjadi nd dan menampilan nama-nama kolomnya

In [69]:
nd = df.copy()
nd.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Last Updated'],
      dtype='object')

Normalisasi 3 kolom yaitu Rating, Reviews, Size

In [70]:
scl = min_max_scaler.fit_transform(nd[["Rating", "Reviews", "Size"]])

Mengganti data frame dari hasil yang sudah dinormalisasikan tadi menjadi df2

In [71]:
df2 = pd.DataFrame(scl)

Menampilkan df2

In [72]:
df2.head(5)

       0         1      2
0  0.775  0.000002  0.190
1  0.725  0.000012  0.140
2  0.925  0.001120  0.087
3  0.875  0.002759  0.250
4  0.825  0.000012  0.028

Melihat nilai Min dan Max dari data setelah dinormalisasikan akan memiliki rentang [0, 1]

In [73]:
print("Nilai min:")
print(df2.min())
print("\nNilai max:")
print(df2.max())

Nilai min:
0    0.0
1    0.0
2    0.0
dtype: float64

Nilai max:
0    1.0
1    1.0
2    1.0
dtype: float64

Menstandardisasi data pada attribute menggunakan StandardScaler

In [74]:
ss = StandardScaler()

Mencopy data df menjadi data_std dan lakukan standardisasi data pada kolom Rating, Reviews, Size

In [75]:
data_std = df.copy()
scaled_data = ss.fit_transform(data_std[["Rating", "Reviews", "Size"]])

Menampilkan standar deviasi setelah distandardiasi

In [76]:
print("Nilai Setelah Standardisasi\n")
print("Standard Deviasi: ", np.nanstd(scaled_data))

Nilai Setelah Standardisasi

Standard Deviasi:  1.0

Mengganti hasil standardisasi data tadi menjadi df untuk dibaca

In [77]:
df_std = pd.DataFrame(scaled_data)

In [78]:
df_std.head(5)

          0         1         2
0 -0.136497 -0.118191 -0.063929
1 -0.509219 -0.117749 -0.293011
2  0.981671 -0.070490 -0.535839
3  0.608949 -0.000518  0.210970
4  0.236226 -0.117749 -0.806156

# Data Cleaning

Melihat beberapa kolom yang memiliki nilai null

In [79]:
df.isna().sum()

App                0
Category           0
Rating          1463
Reviews            0
Size            1227
Installs           0
Type               0
Price              0
Last Updated       0
dtype: int64

Karena yang memiliki null hanya ada pada kolom Rating dan Size yang termasuk tipe data float maka mengganti nilai null sesuai ketentuan yaitu dengan strategy mean

In [82]:
imputer_mean = SimpleImputer(strategy="mean")

In [83]:
df["Rating"] = imputer_mean.fit_transform(df[["Rating"]])
df["Size"] = imputer_mean.fit_transform(df[["Size"]])

Melihat lagi beberapa kolom yang sudah dicleaning nilai nullnya

In [84]:
df.isna().sum()

App             0
Category        0
Rating          0
Reviews         0
Size            0
Installs        0
Type            0
Price           0
Last Updated    0
dtype: int64

Melihat beberapa baris yang terdapat data duplikat pada dataset.

In [85]:
df.duplicated().sum()

5

Cleaning data yang duplikat

In [86]:
df.drop_duplicates(inplace=True)

Melihat lagi beberapa kolom yang sudah dicleaning nilai nullnya

In [87]:
df.duplicated().sum()

0

Melihat tipe data pada kolom

In [88]:
df.dtypes

App              object
Category         object
Rating          float64
Reviews           int64
Size            float64
Installs         object
Type             object
Price           float64
Last Updated     object
dtype: object

Mengganti tipe data pada kolom Reviews yang awalnya bilangan bulat atau int menjadi bilangan desimal atau float

In [89]:
df["Reviews"] = df["Reviews"].astype("object")

Melihat kembali tipe data pada semua kolom yang baru

In [90]:
df.dtypes

App              object
Category         object
Rating          float64
Reviews          object
Size            float64
Installs         object
Type             object
Price           float64
Last Updated     object
dtype: object

# Encoding

#One-Hot Encoding

Mendeklarasi kelas OneHotEncoder dan lakukan transformasi pada kolom yang ingin diubah

In [91]:
encoder = OneHotEncoder(sparse=False)

Melakukan One-Hot encoding pada kolom Category

In [92]:
kategoriEnc = encoder.fit_transform(df[["Category"]])

Ubah tipenya menjadi DataFrame

In [93]:
kategoriEnc = pd.DataFrame(kategoriEnc)

Melakukan join pada df untuk menggabungkan kolom hasil One-Hot Encoding dengan DataFrame yang dibuat tadi

In [94]:
df = df.join(kategoriEnc)

Menampilkan DataFrame setelah join

In [95]:
df.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Last Updated,0,...,23,24,25,26,27,28,29,30,31,32
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,"10,000+",Free,0.0,"January 7, 2018",1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,"500,000+",Free,0.0,"January 15, 2018",1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0.0,"August 1, 2018",1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,"50,000,000+",Free,0.0,"June 8, 2018",1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,"100,000+",Free,0.0,"June 20, 2018",1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0