# Google Play Store Apps Datasets

# Import Library Pandas Package

Mengimpor library pandas sebagai pd dan dataframe sebagai df untuk membaca dataset

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("appsgoogleplay.csv")

Dataset berupa file .csv (googleplaystore.csv)

In [3]:
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

# Membaca Dataset

In [17]:
totalRecord = len(df)
attribute = list(df.columns)
objek = len(df.select_dtypes(include=["object"]).columns)
angka = len(df.select_dtypes(include=["int64", "float64"]).columns)
NULL = len(df.columns[df.isna().sum() > 0])

dict = {
    "Jumlah Record:"           : totalRecord,
    "Nama Attribute:"          : attribute,
    "Jumlah Attribute Objek:"  : objek,
    "Jumlah Attribute Angka:"  : angka,
    "Jumlah NULL:"             : NULL,
}

pd.Series(dict)

Jumlah Record:                                                          9659
Nama Attribute:            [App, Category, Rating, Reviews, Size, Install...
Jumlah Attribute Objek:                                                    5
Jumlah Attribute Angka:                                                    4
\nJumlah NULL:                                                             2
dtype: object

In [5]:
df.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [6]:
totalRecord = len(df)
namaAttribute = df.columns
jumlahObjek = len(df.select_dtypes(include=['object']).columns)
jumlahAngka = len(df.select_dtypes(include=['int64', 'float64']).columns)
jumlahNULL = len(df.columns[df.isna().sum() > 0])

dictionary_no1 = {
    "total record": totalRecord,
    "Nama Attribute yang ada": namaAttribute,
    "Jumlah Objek": jumlahObjek,
    "Jumlah Angka": jumlahAngka,
    "Jumlah NULL": jumlahNULL,
}

pd.Series(dictionary_no1)

total record                                                           10841
Nama Attribute yang ada    Index(['App', 'Category', 'Rating', 'Reviews',...
Jumlah Objek                                                              12
Jumlah Angka                                                               1
Jumlah NULL                                                                5
dtype: object

In [7]:
df.select_dtypes(include=['int64', 'float64']).mean()

Rating    4.193338
dtype: float64

In [8]:
df.select_dtypes(include=['int64', 'float64']).std()

Rating    0.537431
dtype: float64

In [18]:
df.select_dtypes(include=['int64', 'float64']).min()

Rating     1.0
Reviews    0.0
Size       0.0
Price      0.0
dtype: float64

In [20]:
df.select_dtypes(include=['int64', 'float64']).quantile([0.25,0.5,0.75])

      Rating  Reviews  Size  Price
0.25     4.0     25.0   4.6    0.0
0.50     4.3    967.0  12.0    0.0
0.75     4.5  29401.0  28.0    0.0

In [19]:
df.select_dtypes(include=["int64", "float64"]).quantile([0.25, 0.5, 0.75])

      Rating  Reviews  Size  Price
0.25     4.0     25.0   4.6    0.0
0.50     4.3    967.0  12.0    0.0
0.75     4.5  29401.0  28.0    0.0

In [12]:
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [13]:
df.select_dtypes(include=['int64', 'float64']).corr()

        Rating
Rating     1.0

In [17]:
df["Rating"] = df["Rating"].astype('int64', errors='ignore')
df["Rating"].dtypes

dtype('int64')

In [18]:
df["Rating"] = df["Rating"].astype('float64', errors='ignore')

In [19]:
df = df.fillna(0)
df.Rating.astype('int64')

0        4
1        3
2        4
3        4
4        4
        ..
10836    4
10837    5
10838    0
10839    4
10840    4
Name: Rating, Length: 10841, dtype: int64

In [20]:
df.select_dtypes(include=['int64', 'float64']).head(10)

   Rating
0     4.0
1     3.0
2     4.0
3     4.0
4     4.0
5     4.0
6     3.0
7     4.0
8     4.0
9     4.0

In [21]:
print("Sebelum: ", df["Reviews"].dtypes)

df["Reviews"] = df["Reviews"].astype("float64")

print("Setelah: ", df["Reviews"].dtypes)

Sebelum:  int64
Setelah:  float64

In [22]:
df.dtypes("reviews")

TypeError: 'Series' object is not callable

In [24]:
df.dtypes()

TypeError: 'Series' object is not callable

In [26]:
df.dtypes(Reviews)

NameError: name 'Reviews' is not defined

In [27]:
df.select_dtypes(include=["float64"]).head(10)

   Rating   Reviews  Size  Price
0     4.1     159.0  19.0    0.0
1     3.9     967.0  14.0    0.0
2     4.7   87510.0   8.7    0.0
3     4.5  215644.0  25.0    0.0
4     4.3     967.0   2.8    0.0
5     4.4     167.0   5.6    0.0
6     3.8     178.0  19.0    0.0
7     4.1   36815.0  29.0    0.0
8     4.4   13791.0  33.0    0.0
9     4.7     121.0   3.1    0.0

In [ ]:
df.select_dtypes(include=["int64", 'float64']).head(10)